<div class="main-footer-div">
  <hr />
  <div class="row mx-auto colss">
    <div class="col">
      <p id="footer-id">auto.market</p>
      <div class="row icon-row">
        <div><i class="fa-brands fa-google-plus-square"></i></div>
        <div><i class="fa-brands fa-facebook"></i></div>
        <div><i class="fa-brands fa-twitter"></i></div>
      </div>
    </div>
    <div class="col footer-nav">
      <p>Home</p>
      <p>Sell car</p>
      <p>Buy car</p>
      <p>Dealer</p>
    </div>
    <div class="col">
      <p>Tearms of use</p>
      <p>Privacy policy</p>
      <p>Coockie policy</p>
      <p>AdChoise</p>
    </div>
    <div class="col">
      <p>Contact us</p>
      <p>Carrers</p>
      <p>Help</p>
      <p>FAQ</p>
    </div>
    <div class="col">
      <div>
        <img src="../../../assets/images/appstore.png" class="app" alt="" />
      </div>
      <div>
        <img src="../../../assets/images/playstore.png" alt="" class="play" />
      </div>
    </div>
  </div>
  <div class="bottom-footer">
    <a class="btm-txt">
      &copy; auto.market / 2019 - 2022. All rights reserved.
    </a>
  </div>
</div>
