<div class="main-nav-div">
  <div class="row mx-auto">
    <div class="icon-div">
      <div class="icon">
        <img
          src="../../../assets/images/canada_icon.jpg"
          class="canada-l"
          width="30px"
          alt=""
        />
      </div>
      <div class="logo-txt">
        <p class="logo">auto.market</p>
      </div>
    </div>
    <div class="nav-links">
      <div class="link-1">
        <p>Home</p>
        <div class="active-line"></div>
      </div>
      <div class="link-2">
        <p>Sell car</p>
      </div>
      <div class="link-3">
        <p>Buy car</p>
      </div>
      <div class="link-4">
        <p>Market</p>
      </div>
      <div class="link-5">
        <p>Contact us</p>
      </div>
    </div>
    <div class="sign-up-divs">
      <div class="icon-1">
        <i class="fa-solid fa-house-user"></i>
      </div>
      <div class="icon-2">
        <i class="fa-solid fa-star"></i>
      </div>
      <div class="icon-3">
        <i class="fa-solid fa-user"></i>
        <p>Sign in</p>
      </div>
      <div class="icon-4">
        <button class="sign-btn">Sign Up</button>
      </div>
    </div>
  </div>
</div>
